body{
    display: flex;
    flex: 1;
    background: #cd7255;
    min-height: 100vh;
    flex-direction: column;
    flex-basis: 0;
    font-family: 'Roboto', sans-serif;
    border-radius: 25px;
}
.header{

    background: #afd1ed;
   
    display: flex;
    justify-content: space-between;
    
    border:  10 px solid #555;
}

.title {
    display: flex;
   
    flex-direction: column;
   
    padding: 40px;}
  
.main{
    font-weight: 900;
    display: flex;
    font-size: xx-large;
    align-items: center;
    justify-content: flex-start;
}
.header-links{
display: flex;
flex-direction: column;
align-items: flex-end
}

.subtext{
    display: flex;
    flex-basis: 0;
    font-size: larger;
  
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.links{
    display: flex;
    flex-basis: 0;
    gap: 100px;
    background: #afd1ed;
    padding-right: 10px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list-title{
    display: flex;
    flex-direction: row;
}

.list{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    font-weight: 200;
}
.sub-image{
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    text-decoration: none;
    gap: 16px;
    font-size: larger;
    font-weight: 500;
    color: #000000fa;
}
img{
    display: flex;
    height: 300px;
    border: 5px solid #555;
    border-radius: 25px;
    
}
.image-sub{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial{

font-weight: 300;
font-style: italic;
font-size: x-large;}

.footer{
    display: flex;
    display: flex;
    margin-top: auto;
    margin-top: auto;
   
    background: #afd1ed;
    border-radius: 25px;
    padding: 30px;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-weight: 800;}